<!-- <ngx-spinner bdColor="rgba(180,180,180,0.5)" size="large" color="#ff4242" type="ball-clip-rotate-multiple">
</ngx-spinner> -->

<body *ngIf="admi" class="btn">
    <h1>Cursos registrados</h1>
    <table class="table">
        <button routerLink="/crear-curso" class="btn">Crear nuevo usuario</button>
        <tbody>
            <tr *ngFor="let item of curso">
                <td>{{item.titulo}}</td><br>
                <td>{{item.profesor}}</td><br>
                <td>{{item.description}}</td><br>
                <td>{{item.asignatura}}</td><br>
                <td>
                    <button (click)="edit(item)" class="btn">Editar</button>
                    <button (click)="deletecursor(item._id)" class=" btn ">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>

<body *ngIf="estudiante " class="btn ">
    <h1>Cursos registrados</h1>
    <table class="table ">
        <thead>
            <tr>
                <th>titulo</th><br>
                <th>profesor</th><br>
                <th>descripción</th><br>
                <th>asignatura</th><br>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of curso ">
                <td>{{item.titulo}}</td><br>
                <td>{{item.profesor}}</td><br>
                <td>{{item.description}}</td><br>
                <td>{{item.asignatura}}</td><br>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</body>