<ul *ngIf="estudiante" class="flex w-full items-center justify-center">
    <li class="mr-6">
        <a class="text-blue-500 hover:text-blue-800">
            <section>
                <div class="m-3">
                    <button type="button" routerLink="/cursos">
      <span class="mr-2">Cursos</span>
    </button>
                </div>
            </section>
        </a>
    </li>
</ul>
<ul *ngIf="admi" class="flex w-full items-center justify-center">
    <li class="mr-6">
        <a class="text-blue-500 hover:text-blue-800">
            <section type="button">
                <div class="m-3">
                    <button type="button" routerLink="/menu">
        <span class="mr-2">Usuarios</span>
      </button>
                </div>
                <div class="m-3">
                    <button type="button" routerLink="/cursos">
        <span class="mr-2">Cursos</span>
      </button>
                </div>
            </section>
        </a>
    </li>
</ul>