<ngx-spinner bdColor="rgba(180,180,180,0.5)" size="large" color="#ff4242" type="ball-clip-rotate-multiple">
</ngx-spinner>

<form [formGroup]="createuserForm" class="form">
    <h2>Crear usuario</h2>
    <span>Nombre</span>
    <p><input formControlName='nombre' name="nombre" placeholder="nombre"></p>
    <span>Apellido</span>
    <p><input formControlName='apellido' name="apellido" placeholder="Apellido"></p>
    <span>Edad</span>
    <p><input formControlName='edad' name="edad" placeholder="Edad"></p>
    <span>Email</span>
    <p><input formControlName='email' name="email" placeholder="Email"></p>
    <span>Contraseña</span>
    <p><input formControlName='passw' name="passw" placeholder="Contraseña"></p>
    <span>Verificar Contraseña</span>
    <p><input formControlName='verifypassw' name="verifypassw" placeholder="Repita su contraseña"></p>
    <span>Foto</span>
    <p><input type="file" formControlName='file' name="file" (change)="changeFile($event)" placeholder="file"></p>
    <img width="25%" height="%25" src="{{verFile}}" alt="">
    <button (click)="createuser()">Guardar</button>
</form>